.todo-list {
    background-color: rgb(255, 137, 137);
    border-radius: rem(10px);
    padding: rem(30px);
    height: 230px;
    width: 230px;
    text-align: center;
    p {
        margin-block-start: rem(30px); 
    }
}