.home-page {
    ul {
        @include flex;
        gap: rem(50px);
       flex-wrap: wrap;
       .add-todo {
        @include flex;
        background-color: rgb(145, 145, 145);
        border-radius: rem(10px);
        padding: rem(30px);
        height: 200px;
        width: 200px;
        text-align: center;
       }
    }
}